@page "/employees"

@if (loading)
{
    <Employees.Frontend.Components.Shared.Loading/>
}
else
{
        <MudTable Items="@Employees"
              @ref="table"
              ServerData="LoadListAsync"
              Dense="true"
              Hover="true"
              Striped="true"
              FixedHeader="true"
              FixedFooter="true">
        <ToolBarContent>
            <div class="d-flex justify-content-between">
                <MudText Typo="Typo.h6" Class="me-4">Países</MudText>
                <MudButton Variant="Variant.Outlined" 
                           EndIcon="@Icons.Material.Filled.Add" 
                           Color="Color.Info" OnClick="@(() => ShowModalAsync())">
                    Nuevo
                </MudButton>
            </div>
            <MudSpacer />
            <Employees.Frontend.Components.Shared.FilterComponent ApplyFilter="SetFilterValue" />
        </ToolBarContent>
        <HeaderContent>
            <MudTh style="width: 100px;">ID</MudTh>
            <MudTh style="width: 100px;">Nombres</MudTh>
            <MudTh style="width: 100px;">Apellidos</MudTh>
            <MudTh style="width: 100px;">Salario</MudTh>
            <MudTh style="width: 100px;">Fecha de contratación</MudTh>
            <MudTh style="width: 100px;">Activo</MudTh>
            <MudTh style="width: 100px;">Acciones</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Id</MudTd>
            <MudTd>@context.FirstName</MudTd>
            <MudTd>@context.LastName</MudTd>
            <MudTd>@context.Salary</MudTd>
            <MudTd>@context.HireDate</MudTd>
            <MudTd>
                <MudButton Variant="Variant.Filled"
                           Color="@(context.IsActive ? Color.Success : Color.Error)"
                           OnClick="@(async () => await ToggleActiveAsync(context, !context.IsActive))">
                    @(context.IsActive ? "Activo" : "Inactivo")
                </MudButton>
            </MudTd>
            <MudTd>
                <MudTooltip Text="Editar">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Warning"
                               OnClick="@(() => ShowModalAsync(context.Id, true))">
                        <MudIcon Icon="@Icons.Material.Filled.Edit" />
                    </MudButton>
                </MudTooltip>
                <MudTooltip Text="Borrar">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Error"
                               OnClick="@(() => DeleteAsync(@context))">
                        <MudIcon Icon="@Icons.Material.Filled.Delete" />
                    </MudButton>
                </MudTooltip>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>"No hay registros"</MudText>
        </NoRecordsContent>
        <PagerContent>
            <MudTablePager RowsPerPageString="Número de registros"
                           PageSizeOptions="pageSizeOptions"
                           AllItemsText="Todo"
                           InfoFormat="@infoFormat" />
        </PagerContent>
    </MudTable>
}
